<section class="ui task-editor-form-controller">

<form class="ui form" [formGroup]="taskForm">
  <div class="field">
    <div class="ui action input">
      <input formControlName="name" type="text" placeholder="{{ 'TASK.NAME' | translate }}">
    </div>
  </div>

  <div class="ui buttons">
    <div class="ui button yellow" (click)="onChangePriority(0)" [ngClass]="{
      'active': editedTask?.priority == 0,
      'basic': editedTask?.priority != 0
    }">
      {{ 'TASK.PRIORITIES.0' | translate }}
    </div>

    <div class="ui button orange" (click)="onChangePriority(1)" [ngClass]="{
      'active': editedTask?.priority == 1,
      'basic': editedTask?.priority != 1
    }">
      {{ 'TASK.PRIORITIES.1' | translate }}
    </div>

    <div class="ui button red" (click)="onChangePriority(2)" [ngClass]="{
      'active': editedTask?.priority == 2,
      'basic': editedTask?.priority != 2
    }">
      {{ 'TASK.PRIORITIES.2' | translate }}
    </div>
  </div>

  <button class="float-right" mat-raised-button color="primary" (click)="onSaveTask()">{{ 'TASK.SAVE' | translate }}</button>
</form>

</section>
